# Rename to .env
TS_AUTHKEY=""      # Required Tailscale auth key
TS_HOSTNAME=""     # Optional hostname for this node
TS_OPT=""          # Optional additional arguments for tailscaled
TS_SERVE_PORT=""   # Optional backend port to proxy with tailscale serve
TS_FUNNEL_PORT=""  # Optional backend port to publish with tailscale funnel